<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_ENDPOINT</key>
	<string>https://real-api.com</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://llm-proxy-telescope.vercel.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Cg8J2fX1eJIeS4NQGaQKVynANtgvAAW7/FDQMxBul14=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>172800</integer>
	<key>SUShowReleaseNotes</key>
	<true/>
</dict>
</plist>
